{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Admin Login</h2>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">  <!-- Controls width -->

      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-danger w-100">Login</button>
      </form>

    </div>
  </div>
</div>
{% endblock %}
